<launch>

    <rosparam param="ticks_meter">62607.3</rosparam>

    <node pkg="differential_drive" type="diff_tf.py" name="diff_tf" output="screen">
        <rosparam param="ticks_meter">62607.3</rosparam>
        <rosparam param="base_width">0.355</rosparam>
    </node>

	<!-- <node name="cmd_vel_sub" pkg="two_wheel_driver" type="cmd_vel_sub.py" output="screen"/> -->

</launch>