<launch>

  <arg default="false" name="gui"/>
	<param name="use_gui" value="$(arg gui)"/>

  <arg name="model" default="$(find scuttle_description)/urdf/scuttle.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="LiDAR_1"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<node name="cmd_vel_sub" pkg="two_wheel_driver" type="cmd_vel_sub.py" output="screen"/>
	<node name="odom_publisher" pkg="two_wheel_driver" type="odom_publisher.py" output="screen"/>

</launch>