<?xml version="1.0"?>
	<robot name="scuttle">
		<link name="base_link">
		<visual>
		    <origin xyz="0 0 0.0" rpy="0 0 0"/>
			<geometry>
				<box size="0.32 0.26 0.085"/>
			</geometry>
			<material name="Cyan1">
	       		<color rgba="0 0.9 0.9 1.0"/>
	     	</material>
		</visual>	
		</link>		
		<link name="laser">
<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder radius="0.03" length="0.03"/>
			</geometry>
			<material name="Black1">
	       		<color rgba="0.2 0.2 0.2 1.0"/>
	     	</material>
		</visual>	
		</link>

		<joint name="base_link_to_laser" type="fixed">
			<parent link="base_link"/>
			<child link="laser"/>
			<origin xyz="-0.143 0 0.1" rpy="0.0 0.0 0.0"/>
			<axis xyz="0 0 0"/>
		</joint>	
		
	</robot>
